<script src='https://cdn.tailwindcss.com'></script>
<style>
  * { @apply font-serif; }
</style>

<div class='flex justify-center items-center space-x-2 mb-2 break-before-page'>
  <img src='http://localhost:3000/logo.png' width='50' alt='' />
  <div>
    <h1 class='text-lg font-bold'>GRUPO GESTIÓN</h1>
    <span class='text-xs'>GESTORES, ABOGADOS Y ECONOMISTAS</span>
  </div>
</div>

<section class='space-y-2'>
  <p>En Roquetas de {{fecha}}</p>
  <p>
    De una parte, D.
    {{cliente.nombre}}, con DNI/NIE
    {{cliente.NIF}}, con domicilio en -
    {{cliente.localidad}},
    {{cliente.provincia}}
    (CLIENTE).
  </p>
  <p>
    De otra, D. RUBEN JIMENEZ GARRIDO, con D.N.I. 46605899X, con domicilio en
    Plza Labradores, 4, 04740 Roquetas de Mar (Almería), en adelante Gestoría
    GrupoGestión. Ambas partes se reconocen la capacidad necesaria en derecho
    para obligarse, lo que de común acuerdo efectúan por medio del presente
    documento y a tal fin:
  </p>
  <strong>EXPONEN:</strong>

  <p>
    1º.‐ Que Rubén Jiménez Garrido. se dedica a la asesoría, y gestión en
    materia fiscal, contable y laboral.
  </p>
  <p>
    2º.‐ Que
    {{cliente.nombre}}, está interesada en los servicios profesionales de la
    empresa antes referida, por lo que ambas partes llevan a cabo el presente
    contrato de prestación de servicios, y para ello establecen las siguientes:
  </p>

  <strong>ESTIPULACIONES: </strong>
  <p>
    <strong> Primera.‐</strong>
    {{cliente.nombre}}
    contrata los servicios de Gestoría GrupoGestión para el asesoramiento e
    intervención en todos los asuntos que se deriven de la actuación de la
    entidad contratante y concretamente en los aspectos relacionados con la
    asesoría contable, fiscal, mercantil, laboral que aparecen detallados en el
    Anexo I.
  </p>
  <p>
    Servicios: Quedan expresamente excluidas del presente contrato la defensa o
    actuación jurídica a favor del cliente, que se produzcan ante la
    jurisdicción ordinaria.
  </p>
  <p>
    <strong>Segunda.‐</strong>
    PRECIO: El cliente abonará por dichos servicios de asesoramiento la cantidad
    mensual indicada en el presento anexo nº 1 más impuestos aplicables
    correspondientes..
  </p>
  <p>
    <strong>Tercera.‐</strong>
    FORMA DE PAGO: El precio fijado se abonará por el cliente al arrendador
    {{forma_pago}}, mediante recibo domiciliado en la cuenta corriente que a tal
    efecto designe el cliente, a cuyo efecto el profesional emitirá las
    correspondientes facturas a la entidad en las que consignará el IVA y
    retención correspondiente.
  </p>

</section>
<div class='flex justify-center items-center space-x-2 mb-2 break-before-page'>
  <img src='http://localhost:3000/logo.png' width='50' alt='' />
  <div>
    <h1 class='text-lg font-bold'>GRUPO GESTIÓN</h1>
    <span class='text-xs'>GESTORES, ABOGADOS Y ECONOMISTAS</span>
  </div>
</div>
<section class='space-y-2'>
  <p>
    <strong>Cuarta.‐</strong>
    DOCUMENTACIÓN E INFORMACIÓN: Gestoría GrupoGestión, realizará su trabajo en
    sus instalaciones siendo de su cuenta el envío y recogida de la
    documentación necesaria para el desempeño de la actividad. Ahora bien, con
    el objeto de que pueda desempeñar satisfactoriamente su actividad, el
    cliente, con la debida diligencia, deberá poner a su disposición todos los
    datos necesarios, acompañándolos de los correspondientes documentos
    justificativos.
  </p>
  <p>
    <strong>Quinta.‐</strong>
    Gestoría GrupoGestión, actuará siempre con plena libertad en lo concerniente
    al trabajo contratado y de acuerdo con las normas vigentes en cada momento,
    con las normas deontológicas y con la diligencia debida.
  </p>
  <p>
    <strong>Sexta.‐</strong>
    DURACIÓN: El presente contrato de prestación de servicios tiene una duración
    inicial de un año, contado a partir de la fecha del presente, entendiéndose
    prorrogado por iguales periodos si ninguna de las partes con una antelación
    de un mese a la finalización del mismo o de la prorroga correspondiente,
    comunica a la otra de forma fehaciente su terminación.
  </p>
  <p>
    <strong>Séptima.‐</strong>
    En todo caso, y si el contrato se prorrogare por tiempo superior a un año,
    el importe fijado por la prestación del servicio contratado se revisará
    cumulativamente en un porcentaje igual a la subida del IPC en el periodo de
    los últimos 12 meses, siempre y cuando éste índice sea de signo positivo.
  </p>
  <p>
    <strong>Octava.‐</strong>
    NORMATIVA APLICABLE. El presente contrato tiene carácter de mercantil y se
    regirá, en primer término, por las estipulaciones contenidas en el mismo, y,
    en lo en ellas no previsto, por las disposiciones del Código de Comercio,
    leyes especiales, los usos y costumbres mercantiles y, en su defecto, por lo
    establecido en el Código Civil.
  </p>
  <p>
    Y para ser cumplido de buena fe, firman el presente documento por duplicado
    y a un solo efecto en la ciudad y fecha indicadas.
  </p>
  <div class='grid grid-cols-2'>
    <p>Gestoría GrupoGestión</p>
    <p>Cliente</p>
    <p class='col-span-2 h-24'></p>
    <p>Fdo. Rubén Jiménez Garrido</p>
    <p>Fdo. {{cliente.nombre}}</p>
  </div>
</section>
<div class='flex justify-center items-center space-x-2 mb-2 break-before-page'>
  <img src='http://localhost:3000/logo.png' width='50' alt='' />
  <div>
    <h1 class='text-lg font-bold'>GRUPO GESTIÓN</h1>
    <span class='text-xs'>GESTORES, ABOGADOS Y ECONOMISTAS</span>
  </div>
</div>
<section class='space-y-2'>
  <h1 class='text-lg font-bold flex justify-center'>
    ANEXO I
  </h1>
  <strong>
    Asesoría fiscal:
  </strong>
  <p>
    - Realización y presentación de todas las liquidaciones de impuestos, así
    como de sus respectivos resúmenes anuales.
  </p>
  <p>
    - Confección, comprobación con proveedores y clientes y presentación de la
    declaración anual de volumen de operaciones, (Modelo 347), así como todas
    las declaraciones informativas.
  </p>
  <p>
    Precio servicio
    {{price precio_servicio_fiscal}}
  </p>
  <ul style='list-style: circle;'>
    <li>Alta o baja Hacienda y Seguridad social; precio único de
      {{price precio_alta_baja}}
    </li>
  </ul>
  <strong>
    Asesoría Laboral:
  </strong>
  <ul>
    <li>- Altas y bajas S.S</li>
    <li>- Confección de contratos.</li>
    <li>- Confección de nóminas.</li>
    <li>- Confección de seguros sociales.</li>
  </ul>
  <p>
    Precio servicio
    {{price precio_servicio_laboral}} por primer trabajador. Del
    siguiente trabajador en adelante;
    {{price precio_servicio_laboral_siguientes}}/trab
  </p>
  <p>
    <strong>
      Gestión de subvenciones; prestaciones; y resto de gestiones no indicadas
      en apartado anterior; se harán bajo presupuesto previo; pero no están
      incluídas en cuota.
    </strong>
  </p>

</section>
<div class='flex justify-center items-center space-x-2 mb-2 break-before-page'>
  <img src='http://localhost:3000/logo.png' width='50' alt='' />
  <div>
    <h1 class='text-lg font-bold'>GRUPO GESTIÓN</h1>
    <span class='text-xs'>GESTORES, ABOGADOS Y ECONOMISTAS</span>
  </div>
</div>
<section class='space-y-2'>
  <h1 class='font-bold flex justify-center'>
    CONTRATO PARA EL TRATAMIENTO DE DATOS PERSONALES POR CUENTA DE TERCERO.
  </h1>
  <p class='text-right'>
    Roquetas de Mar, 13, de noviembre, de 2019.
  </p>
  <p>

  </p>
  <p>
    Gestoría Grupo Gestión (Rubén Jiménez Garrido)., con domicilio en Plaza
    Labradores nº4. C.P. 04740. Roquetas de Mar, Almería.
  </p>
  <p>
    “En nombre de la empresa tratamos la información que nos facilita con el fin
    de prestarles el servicio solicitado, realizar la facturación del mismo. Los
    datos proporcionados se conservarán mientras se mantenga la relación
    comercial o durante los años necesarios para cumplir con las obligaciones
    legales. Los datos no se cederán a terceros salvo en los casos en que exista
    una obligación legal. Usted tiene derecho a obtener información sobre si en
    ASESORIA R.G. estamos tratando sus datos personales, por lo que puede
    ejercer sus derechos de acceso, rectificación, supresión y portabilidad de
    datos y oposición y limitación a su tratamiento ante ASESORIA R.G., Plaza
    Labradores nº4. C.P. 04740. Roquetas de Mar, Almería, adjuntando copia de su
    DNI o documento equivalente.
  </p>
  <p>
    Asimismo, y especialmente si considera que no ha obtenido satisfacción plena
    en el ejercicio de sus derechos, podrá presentar una reclamación ante la
    autoridad nacional de control dirigiéndose a estos efectos a la Agencia
    Española de Protección de Datos, C/ Jorge Juan, 6 – 28001 Madrid.
  </p>
  <p>
    Asimismo solicito su autorización expresa para ofrecerle productos y
    servicios relacionados con los solicitados y fidelizarle como cliente.”
  </p>
  <div class='grid grid-cols-[250px_min-content]'>
    <span>SÍ, doy mi consentimiento</span>
    <div class='border-2 w-5 h-5'></div>
    <span>NO, no doy mi consentimiento</span>
    <div class='border-2 w-5 h-5'></div>
  </div>
  <div class='grid grid-cols-2'>
    <p>El CLIENTE</p>
    <p>EL ENCARCADO DEL TRATAMIENTO</p>
    <p class='col-span-2 h-24'></p>
    <p>Fdo. Rubén Jiménez Garrido</p>
    <div>
      <p>Fdo. {{cliente.nombre}}</p>
      <p>DNI/NIE {{cliente.NIF}}</p>
    </div>
  </div>
</section>